body{margin: 0; background-color: lightgray;}
#calculator{
	width: 24em;
	background-color: dimgrey;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1.5%;
	padding-top: 10px;
	padding-bottom: 7px;
	border-radius: 12px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#display{
    width: 11.24em;
    height: 65px;
    margin-left: 8.3px;
	margin-right: auto;
    font-size: xx-large;
    text-align: right;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

table{
	margin-left: 4px;
	margin-top: 4px;
		
}
.btn {
    background-color: darkslategray;
    margin-left: 0.5pt;
    height: 60px;
    width: 70px;
	color: white;
	font-weight: 700;
}

h1{
	text-align: center;
	font-size: 50px;
	margin-top: 50px;
	text-shadow: 
}

footer{
	margin-top: 3.66em;
	background-color: darkslategray;
	height: 5em;
}

p{color: white; padding-top: 2em; text-align: center;}
